<!DOCTYPE html>
<html>

    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="main-container">
            <div class="cover-container">
                <img class="cover-img" src="img/cover_1.svg" alt="Cover art"/>
                <p class="cover-title">{{year}}</p>
            </div>
        </div>

        {% for page in pages %}

            <div class="main-container">

                <div {% if page.type == "Overview" %}id="{{page.month}}"{% endif %} class="content-container">

                    <p class="Title">{{page.month}}</p>
                    
                    {% if page.type == "Week" %}
                    <div class="grid-container">

                        <!-- DaysOfTheWeek Grid -->
                        <div class="grid-container grid-item">

                            {% for tag in page.tag %}
                            
                                <div class="grid-item" style="grid-column-start: {{tag['table-ID']}}">
                                    <div class="Tag">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    <hr />
                                    <hr class="Lines" />
                                    <hr class="Lines" />
                                    <hr class="Lines" />
                                    <hr class="Lines" />
                                </div>

                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}
                    {% if page.type == "Overview" %}
                    
                    <table class="MonthlyTable">
                        <tr class="DaysOfTheWeek">
                            {% for day in day_names %}
                            <td>{{day}}</td>
                            {% endfor %}
                        </tr>
                      
                        {% for Week in page.weeks %}
                        <tr>
                            {% for tag in Week %}
                            <td> {{tag}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>

                    {% endif %}
                </div>
                <!-- Vertical Month Bar -->
                <div class="Strip">
                    <p></p>
                    <hr />
                    {% for month in month_names %}
                    <p><a href="#{{month}}">{{month[0:3]}}</a></p>
                    <hr />
                    {% endfor %}
                    <p></p>
                </div>

            </div>
    
        {% endfor %}

    </body>

</html>