<!DOCTYPE html>
<html>

    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="main-container">
            <div class="cover-container">
                <img class="cover-img" src="img/COLORED perso cat_.svg" alt="Cover art"/>
                <!-- <p class="cover-title">{{year}}</p> -->
            </div>
        </div>

        {% for page in pages %}

            <div class="main-container">

                <div {% if page.type == "Overview" %}id="{{page.month}}"{% endif %} class="content-container">

                    {% if page.type == "Week-Left" %}
                    <!-- <div class="grid-container"> -->

                        <!-- DaysOfTheWeek Grid -->
                        <div class="grid-left">

                            {% for tag in page.tag %}
                            
                                <div style="grid-column-start: {{tag['table-ID']}}">
                                    <div class="Tag-{{tag['table-ID']}}">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    {% set bottompadding = 1096 %}
                                    {% set bottompadding = bottompadding + 9 %}
                                    <div class="Lines-{{tag['table-ID']}}"> 
                                        <!-- style="padding-bottom: {{bottompadding}}px;"> -->
                                    <!-- <div class="Lines-{{tag['table-ID']}}" style="padding-bottom: 1096px;"> -->
                                        <!-- test <br>
                                        test -->
                                    </div>
                                    <!-- <hr /> -->
                                    <!-- <hr class="Lines" />
                                    <hr class="Lines" />
                                    <hr class="Lines" />
                                    <hr class="Lines" /> -->
                                </div>

                            {% endfor %}

                    <!-- </div> -->
                    </div>
                    {% endif %}
                    {% if page.type == "Week-Right" %}
                    <!-- <div class="grid-container"> -->

                        <!-- DaysOfTheWeek Grid -->
                        <div class="grid-right">

                            {% for tag in page.tag %}
                                {% if tag.name == "Thursday" %}
                                <div class="div1">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tag.name == "Friday" %}
                                <div class="div2">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tag.name == "Saturday" %}
                                <div class="div3">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tag.name == "Sunday" %}
                                <div class="div4">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                            {% endfor %}

                        <!-- </div> -->
                    </div>
                    {% endif %}
                    {% if page.type == "Overview" %}
                    <p class="Title">{{page.month}}</p>
                    <table class="MonthlyTable">
                        <tr class="DaysOfTheWeek">
                            {% for day in day_names %}
                            <td>{{day}}</td>
                            {% endfor %}
                        </tr>
                      
                        {% for Week in page.weeks %}
                        <tr>
                            {% for tag in Week %}
                            <td> {{tag}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>

                    {% endif %}
                </div>
                <!-- Vertical Month Bar -->
                <div class="Strip">
                    <!-- <p></p>
                    <hr />
                    {% for month in month_names %}
                    <p><a href="#{{month}}">{{month[0:3]}}</a></p>
                    <hr />
                    {% endfor %}
                    <p></p> -->
                </div>

            </div>
    
        {% endfor %}

    </body>

</html>