<!DOCTYPE html>
<html>

    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>
        <!-- index -->
        <img class="cover-img" src={{structure.logo_file}} alt="Cover art"/>
        {% for n in range(structure.num_bullet_pages_before) %}
        <div class="main-container">
        <img class="cover-img" src="img/bullet_page.svg" alt="Cover art"/>
        </div>
        {% endfor %}
        <div class="main-container">
        <img class="cover-img" src={{structure.first_art_file}} alt="Cover art"/>
        </div>
        {% for page in pages %}

            <div class="main-container">

                <div {% if page.type == "Overview" %}id="{{page.month}}"{% endif %} class="content-container">

                    {% if page.type == "Week-Left" %}
                    <!-- <div class="grid-container"> -->

                        <!-- DaysOfTheWeek Grid -->
                        <div class="grid-left">

                            {% for tag in page.tag %}
                            
                                <div style="grid-column-start: {{tag['table-ID']}}">
                                    <div class="Tag-{{tag['table-ID']}}">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    <!-- {% set bottompadding = 1096 %} -->
                                    {% set bottompadding = 1054 %}
                                    {% set bottompadding = bottompadding - 28*tag.events_length %} 
                                    <!-- 28px per entry, if you change font or font size you need to recalibrate, use pixel counter tool from screenshot to do that -->
                                    
                                    <div class="Lines-{{tag['table-ID']}}" style="padding-bottom: {{bottompadding}}px;">
                                    <!-- <div class="Lines-{{tag['table-ID']}}" style="padding-bottom: 1096px;"> -->
                                        {% if tag.events_length != 0 %}
                                            {% for daily_event in tag.events %}
                                            &nbsp;○&nbsp;{{daily_event}}<br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                    </div>
                    {% endif %}
                    {% if page.type == "Week-Right" %}

                        <!-- DaysOfTheWeek Grid -->
                        <div class="grid-right">

                            {% for tag in page.tag %}
                                {% set bottompadding = 1054 %}
                                {% set bottompadding = bottompadding - 28*tag.events_length %}
                                {% set bottompadding_smol = 499 %}
                                {% set bottompadding_smol = bottompadding_smol - 28*tag.events_length %}
                                {% if tag.name == "Thursday" %}
                                <div class="div1" style="padding-bottom: {{bottompadding}}px;">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    {% if tag.events_length != 0 %}
                                        {% for daily_event in tag.events %}
                                        &nbsp;○&nbsp;{{daily_event}}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if tag.name == "Friday" %}
                                <div class="div2" style="padding-bottom: {{bottompadding}}px;">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    {% if tag.events_length != 0 %}
                                        {% for daily_event in tag.events %}
                                        &nbsp;○&nbsp;{{daily_event}}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if tag.name == "Saturday" %}
                                <div class="div3" style="padding-bottom: {{bottompadding_smol}}px;">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    {% if tag.events_length != 0 %}
                                        {% for daily_event in tag.events %}
                                        &nbsp;○&nbsp;{{daily_event}}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if tag.name == "Sunday" %}
                                <div class="div4" style="padding-bottom: {{bottompadding_smol}}px;">   
                                    <div class="Tag-Right">
                                        <div>
                                            {{tag.name}}
                                        </div>
                                        <div class="Links">
                                            {{tag.datum}}
                                        </div>
                                    </div>
                                    {% if tag.events_length != 0 %}
                                        {% for daily_event in tag.events %}
                                        &nbsp;○&nbsp;{{daily_event}}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                
                            {% endfor %}

                        <!-- </div> -->
                    </div>
                    {% endif %}
                    {% if page.type == "Overview" %}
                    <p class="Title">{{page.month}}</p>
                    <table class="MonthlyTable">
                        <tr class="DaysOfTheWeek">
                            {% for day in day_names %}
                            <td>{{day}}</td>
                            {% endfor %}
                        </tr>
                      
                        {% for Week in page.weeks %}
                        <tr>
                            {% for tag in Week %}
                            <td> {{tag}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>

                    {% endif %}
                </div>
            </div>
    
        {% endfor %}
    
        {% for n in range(structure.num_bullet_pages_after) %}
        <div class="main-container">
        <img class="cover-img" src="img/bullet_page.svg" alt="Cover art"/>
        </div>
        {% endfor %}
        <div class="main-container">
        <img class="cover-img" src={{structure.second_art_file}} alt="Cover art"/>
        </div>
        {% for n in range(structure.num_bullet_pages_after_2) %}
        <div class="main-container">
        <img class="cover-img" src="img/bullet_page.svg" alt="Cover art"/>
        </div>
        {% endfor %}
        <div class="main-container">
        <img class="cover-img" src={{structure.third_art_file}} alt="Cover art"/>
        </div>
        {% for n in range(structure.num_bullet_pages_after_3) %}
        <div class="main-container">
        <img class="cover-img" src="img/bullet_page.svg" alt="Cover art"/>
        </div>
        {% endfor %}
        <div class="main-container">
        <img class="cover-img" src={{structure.fourth_art_file}} alt="Cover art"/>
        </div>
        {% for n in range(structure.num_bullet_pages_after_4) %}
        <div class="main-container">
        <img class="cover-img" src="img/bullet_page.svg" alt="Cover art"/>
        </div>
        {% endfor %}

    </body>

</html>